{% extends 'uniSistemasBundle::layout.html.twig' %}


{% block cuerpo -%}
    <h1>maquinasv list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Ipvirtual</th>
                <th>Tareas</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('maquinasv_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.ipvirtual }}</td>
                <td>{{ entity.tareas }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('maquinasv_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('maquinasv_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('maquinasv_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
